/* You background-image: url("assets/background.jpg") ;can add global styles to this file, and also import other style files */
body{
    background-image: url("assets/background1.jpg") ;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}