<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Your Angular Project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
     

      .container-fluid {
        margin-top: 30px;
      }

      .form-container,
      .table-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        color: #ff8c00;
      }

      th,
      .table-row {
        background-color: #ff8c00;
        color: #ffffff;
      }

      .table-hover:hover {
        background-color: #ffebcd;
      }
    </style>
  </head>
  <body>
    <!-- Right side - Table -->
    <div class="container mt-4">
      <h2 class="text-center mb-4">List of Customers</h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th style="width: 150px;">Customer ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
            <th style="width: 200px;">Email</th>
            <th style="width: 100px;">Status</th>
            <th style="width: 100px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of dataStore"
            class="table-row"
            [ngClass]="{'table-danger': item.isDeleted}"
          >
            <td>{{ item.customerId }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.isActive ? 'Active' : 'Inactive' }}</td>
            <td>
              <button
                class="btn btn-danger"
                (click)="deleteCustomer(item)"
                [disabled]="item.isDeleted"
                
              
              >
               Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </body>
</html>
